<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828384191468-qu2pcf0hmg9f8990k1ml7en0jp5kgb9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828384191468-qu2pcf0hmg9f8990k1ml7en0jp5kgb9h</string>
	<key>API_KEY</key>
	<string>AIzaSyC94wtHjRk-uVTwyQxfP29qfmFL6vDjANg</string>
	<key>GCM_SENDER_ID</key>
	<string>828384191468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matheusfoliveira.BYOA-Firebase</string>
	<key>PROJECT_ID</key>
	<string>byoa-firebase-f1858</string>
	<key>STORAGE_BUCKET</key>
	<string>byoa-firebase-f1858.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828384191468:ios:451672277ad0083b9c96c9</string>
</dict>
</plist>